table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: light-dark(#f2f2f2, #333);
}

th, td {
    border: 1px solid light-dark(#ddd, #444);
}

th, td {
    padding: 10px;
    text-align: left;
}

.codelisting {
    padding: 5px;
    background-color: light-dark(#eee, #222);
    border-left: solid 0.5em light-dark(#ccc, #555);
    display: block;
    font-family: Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace;
    font-size: 0.9em;
    white-space: pre;
}

.codelisting-title {
    font-family: sans-serif;
    font-size: medium;
    line-height: 1.5;
    text-transform: none;
    color: light-dark(#333, #ccc);
}
